.project 
    .project__wrapper 
        div.project-flex
            h2.project-flex__title Need a Project? 
            p.project-flex__description Let me know what you are looking for in an agency. I will take a look and see if this could be the start of something beautiful. 
            a(href="#" class="project-flex__link") Let`s talk