@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@import './normalize.scss';
@import './variables.scss';

@import '../components/header/header.scss';
@import '../components/footer/footer.scss';

div[class$='wrapper'] {
  padding: 0 10px;
}

@media screen and (min-width: 1200px) {
  div[class$='wrapper'] {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  background-color: rgb(177, 177, 177);
  padding: 20px;
  // background-image: url(https://images.unsplash.com/photo-1432847712612-926caafaa802?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
}

.item {
  background-color: rgb(167, 167, 167);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  &_new {
    display: inline-block;
    padding: 5px;
    background-color: rgb(111, 142, 235);
  }
}
