.skills 
    .skills__wrapper 
        .skills__title Skills
        .skills-block
            .lds-spinner
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div             
