.about 
    .about__wrapper
        .info 
            .info__picture 
            .info__description 
                h2.info__title About me
                p.info__text I am Maksym Kozubenko.I am from Ukraine. I was born in 1999 December 29. My goal is get FrontEnd junior position at Epam company. I feel that I can be part of something importang and get good practice at programing! 