footer.footer 
    .footer__wrapper 
        .footer-info 
            .produce
                h3.produce__title Maxsus Design 
                p.produce__rights @2017 Maxsus. All rights reserved.
                p.produce__creater Designed by programmer.
            .contacts 
                a(href="mailto:max.kozubenko4@gmail.com" class="contacts__mail") max.kozubenko4@gmail.com
                a(href="tel:+" class="contacts__phone") +380 98 92 92 ***  
            .socials 
                a(href="#" class="socials__link") Facebook
                a(href="#" class="socials__link") Twiiter
                a(href="#" class="socials__link") Instagram
                a(href="#" class="socials__link") Dribble