doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include components/header/header.pug
        include components/introduce/introduce.pug
        include components/about/about.pug
        include components/skills/skills.pug
        include components/project/project.pug
        include components/footer/footer.pug