.contact 
    .contact__wrapper 
        .contact-block
            .contact-info 
                h2.contact-info__title Contact info: 
                p.contact-info__description Here you can get contact of developer.
                span.contact-info__subtitle Address: 
                address.contact-info__address 10111 Rusk, Texas
                br
                span.contact-info__subtitle Email: 
                a(href="mailto:max.kozubenko4@gmail.com" class="contact-info__mail") max.kozubenko4@gmail.com
                br
                span.contact-info__subtitle Phone: 
                a(href="tel:+" class="contact-info__phone") +380 98 92 92 ***  
            form.contact-form
                .contact-form__row
                    input(type="text", name="" class="contact-form__name" placeholder="Your Name")
                    input(type="email", name="" class="contact-form__email" placeholder="Your Email")
                .contact-form__row
                    input(type="text", name="" class="contact-form__title" placeholder="Your Title")
                .contact-form__row
                    input(type="text", name="" class="contact-form__comment" placeholder="Your Comment")
                .contact-form__row
                    button(type="button" class="contact-form__submit") Send Message  